.about {
	&:extend(.sg-row);
	justify-content: space-between;
}

.statistic {
	flex-basis: 50%;

	&__group:not(:last-child) {
		margin-bottom: 60px;
	}

	&__number {
		.fontStyle(64px, 300, 140%)
	}

	&__text {
		line-height: 150%;
		color: @colorGrey;
	}
}

.specific {
	flex-basis: 50%;

	&__title {
		font-weight: 700;
		.fontSizeTitle(30px, 44px);
		.lineHeightTitle(44px, 140%);
		margin-bottom: 60px;
	}

	&__descr {
		line-height: 150%;
	}

	&__text:not(:last-child) {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
	.about {
		display: block;
	}

	.statistic {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 575px) {

	.statistic__group:not(:last-child),
	.specific__title {
		margin-bottom: @offsetOneSide;
	}
}