.hero {
	position: relative;
	padding-top: 270px;
	height: 100vh;
	min-height: 900px;
	color: @colorWhite;

	&::before {
		content: '';
		width: 100vw;
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc((-100vw + 100%) / 2);
		z-index: -1;
		background-color: @colorGrey;
		background: url('@{path_img}hero/Rectangle1.jpg') center/ cover no-repeat;
	}

	&__title {
		.fontSizeTitle(44px, 96px);
		.lineHeightTitle(56px, 116px);
		max-width: 930px;
		margin-bottom: 30px;
	}

	&__text {
		.fontStyle(16px, 400, 150%, @colorWhite);
		max-width: 468px;
		margin-bottom: 50px;
	}
}


@media screen and (max-width: 576px) {
	.hero {
		padding-top: 220px;
		height: auto;
		min-height: auto;

		&__text {
			margin-bottom: 30px;
		}

		&__button {
			margin-bottom: 20px;
		}
	}
}