.quoute {

	&__title {
		color: @colorGrey;
		line-height: 150%;
		margin-bottom: 50px;
	}
}

.quouteContent {
	margin: 0;
	max-width: 820px;

	&__text {
		.fontStyle(36px, 500, 150%);
		color: @colorDarkGrey;
		margin-bottom: 30px;
	}

	&__author span {
		color: @colorGrey;
	}
}

@media screen and (max-width: 767px) {
	.quoute {

		&__title {
			margin-bottom: @offsetOneSide;
		}
	}

	.quouteContent__text {
		font-size: 28px;
	}
}

@media screen and (max-width: 575px) {
	.quouteContent__text {
		font-size: 20px;
	}
}