@columns: 12;
@offset: 30px;
@offsetOneSide: (@offset / 2);
@offsetVertical: 95px;
@path_img: '../img/';

@colorWhite: #fff;
@colorDarkWhite: #c6d9e7;
@colorBlack: #000;
@colorGrey: #838383;
@colorDarkGrey: #1D1D1F;
@colorAqua: #3faceb;

// @media screen and (max-width: 575px) {
// 	@offset: 10px;
// }

.row () {
	display: flex;
	flex-wrap: wrap;
}

.sg-row {
	.row()
}

.col (@val, @clmn: @columns, @ofse: @offset) {
	@width: (100% / @clmn * @val);
	width: calc(@width - @ofse);
	word-wrap: break-word;
}

.maxWidth (@backImg: none, @backColor: none) {
	&::before {
		content: '';
		width: 100vw;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: calc((-100vw + 100%) / 2);
		background-color: @backColor;
		background: @backImg;
		z-index: -1;
	}
}

.fontSizeTitle(@small, @large) {
	font-size: clamp(@small, 10vw, @large);
}

.lineHeightTitle(@small, @large) {
	line-height: clamp(@small, 12vw, @large);
}

.fontStyle(@fSize, @fWeight, @lHeight, @fColor: @colorBlack) {
	font-size: @fSize;
	font-weight: @fWeight;
	line-height: @lHeight;
	color: @fColor;
}

.sizeBtn(@small, @large) {
	width: clamp(@small, 10vw, @large);
	height: clamp(@small, 10vw, @large);
}

.btnReset {
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

.btn {
	display: inline-block;
	min-width: 180px;
	padding: 20px 15px;
	border: 0;
	// border-radius: 30px;
	cursor: pointer;
	text-align: center;
	background-color: @colorWhite;
	.fontStyle(17px, 600, 21px);

	&_light {
		transition: .5s;
		color: @colorDarkGrey;

		&:hover {
			color: @colorWhite;
			background-color: @colorBlack;
		}
	}

	&_dark {
		color: @colorWhite;
		background-color: @colorDarkGrey;
		transition: .5s;

		&:hover {
			color: @colorBlack;
			background-color: @colorGrey;
		}
	}
}

// .gradientText () {
// 	background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
// 	-webkit-text-fill-color: transparent;
// 	-webkit-background-clip: text;
// }